<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<title>Loan Information Form</title>
</head>

<body>
	<!-- Navigation bar -->

	<nav>
		<a class="active" href="https://localhost:3000/api/logout"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
		<a class="active" href="https://localhost:3000/api/customers/addCustomerForm"><i class="fa-solid fa-user-plus"></i>Add New Customer</a>
		<a class="active" href="https://localhost:3000/api/customers"><i class="fa-solid fa-users-viewfinder"></i>View Customers</a>
		<a class="active" href="https://localhost:3000/api/loans"><i class="fa-solid fa-file-invoice-dollar"></i>View Loans</a>
		<a class="active" href="https://localhost:3000/api/loansLedger"><i class="fa-solid fa-dollar-sign"></i>View Loans Ledger</a>
		<a class="active" href="https://localhost:3000/api/home"><i class="fa-solid fa-house"></i>Home</a>

	</nav>

	<main class="container">
		<h2>Add New Loan</h2>

		<form class="add-customer-form" action="/api/loans" method="POST">

			<div class="input-wrapper">
				<label for="customerID">Customer ID</label>
				<input type="text" id="customerID" name="customerID">
			</div>

			<div class="input-wrapper">
				<label for="loanType">Loan Type</label>
				<select id="loanType" name="loanType">
					<option value="Home">Home</option>
					<option value="Auto">Auto</option>
					<option value="Boat">Boat</option>
					<option value="Life">Life</option>
				</select>
			</div>

			<div class="input-wrapper">
				<label for="loanNumber">Loan Number</label>
				<input type="number" id="loanNumber" name="loanNumber">
			</div>

			<div class="input-wrapper">
				<label for="loanAmount">Loan Amount</label>
				<input type="number" id="loanAmount" name="loanAmount">
			</div>

			<div class="input-wrapper">
				<label for="interestRate">Interest Rate</label>
				<input type="number" id="interestRate" name="interestRate">
			</div>

			<div class="input-wrapper">
				<label for="loanTermYears">Loan Term Years</label>
				<input type="number" id="loanTermYears" name="loanTermYears">
			</div>

			<div class="input-wrapper">
				<label for="startDate">Start Date</label>
				<input type="date" id="startDate" name="startDate">

			</div>

			<div class="buttons-2">
				<button class="btn" type="reset"><i class="fa-solid fa-arrow-rotate-left"></i>Reset</button>
				<button class="btn" type="submit"><i class="fa-solid fa-hand-holding-dollar"></i>Add Loan</button>
			</div>

		</form>

		<h6>
			<%=message%>
		</h6>
	</main>
</body>

</html>