<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Customer Loans</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
    <!-- Navigation bar -->

	<nav>
		<a class="active" href="https://localhost:3000/api/logout"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
        <a class="active" href="https://localhost:3000/api/customers"><i class="fa-solid fa-users-viewfinder"></i>View Customers</a>
        <a class="active" href="https://localhost:3000/api/customers/addCustomerForm"><i class="fa-solid fa-user-plus"></i>Add New Customer</a>
		<a class="active" href="https://localhost:3000/api/loans/addLoanForm"><i class="fa-solid fa-hand-holding-dollar"></i>Add New Loan</a>
        <a class="active" href="https://localhost:3000/api/loansLedger"><i class="fa-solid fa-dollar-sign"></i>View Loans Ledger</a>
		<a class="active" href="https://localhost:3000/api/home"><i class="fa-solid fa-house"></i>Home</a>
	</nav>

    <h1>Customer Loans</h1>
    <table>
        <thead>
            <tr>
                <th>Customer ID</th>
                <th>Loan Type</th>
                <th>Loan Number</th>
                <th>Loan Amount</th>
                <th>Interest Rate</th>
                <th>Loan Term Years</th>
                <th>Start Date</th>
            </tr>
        </thead>
        <tbody>
            <% customerloan.forEach(function(loan) { %>
                <tr>
                    <td><%= loan.customerID %></td>
                    <td><%= loan.loanType %></td>
                    <td><%= loan.loanNumber %></td>
                    <td><%= loan.loanAmount.toLocaleString('en-US', {
                        style: 'currency',
                        currency: 'USD',
                        minimumFractionDigits: 2
                      }) %></td>
                    <td><%= loan.interestRate + '%' %></td>
                    <td><%= loan.loanTermYears %></td>
                    <td><%= loan.startDate.toLocaleDateString('en-US') %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>

</html>