<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Application Page</title>
</head>

<body>

    <!-- Navigation bar -->

    <nav>
        <a class="active" href="logout"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
        <a class="active" href="customers/addCustomerForm"><i class="fa-solid fa-user-plus"></i>Add New Customer</a>
        <a class="active" href="customers"><i class="fa-solid fa-users-viewfinder"></i>View Customers</a>
        <a class="active" href="loans/addLoanForm"><i class="fa-solid fa-hand-holding-dollar"></i>Add New Loan</a>
        <a class="active" href="loans"><i class="fa-solid fa-file-invoice-dollar"></i>View Loans</a>
        <a class="active" href="loansLedger"><i class="fa-solid fa-dollar-sign"></i>View Loans Ledger</a>
        <a class="active" href="home"><i class="fa-solid fa-house"></i>Home</a>
    </nav>

    <div>
        <h1>Welcome to the main application page!</h1>
        <h6>
            <%=message%>
        </h6>
        <h2>Application Info</h2>
    </div>

</body>

</html>