<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Home Page</title>
</head>

<body>

    <!-- Navigation bar -->
    <nav>
        <a class="active" href="loginForm"><i class="fa-solid fa-sign-in"></i>Login</a>
        <a class="active" href="signupForm"><i class="fa-solid fa-pen-to-square"></i>Sign Up</a>
        <a class="active" href="about"><i class="fa-solid fa-file-pen"></i>About</a>
        <a class="active" href="home"><i class="fa-solid fa-house"></i>Home</a>
    </nav>

    <h1>Welcome to vpgajula first website!</h1>
    
    <main>
        <div>
            <p>Node.js is a powerful and popular server-side JavaScript runtime environment that allows developers to build fast, scalable, and high-performance web applications.</p>
            <p>This is the final project work of IFT 598 Middleware Programming course in Spring 2023.</p>
            <p>As part of this course, we learned the following technologies and concepts - </p>
            <ul>JavaScript</ul>
            <ul>CSS</ul>
            <ul>HTML</ul>
            <ul>React JS</ul>
            <ul>Node JS</ul>
            <ul>Express</ul>
            <ul>JSON</ul>
            <ul>Postman</ul>
            <ul>Rest API</ul>
            <ul>Middleware Programming</ul>
            <ul>MVC Architecture</ul>
            <ul>Mongoose</ul>
            <ul>MongoDB Atlas</ul>
            <ul>Lucid Charts</ul>
            <ul>Sequence Diagrams</ul>
            <ul>Several other libraries</ul>
            <!-- message is the place holder for the dynamic data and the property name -->
            <!-- <h6>
                <%=message%>
            </h6> -->
        </div>

    </main>
</body>

</html>