<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign-Up</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>

    <!-- Navigation bar -->
    <nav>

        <a class="active" href="loginForm"><i class="fa-solid fa-sign-in"></i>Login</a>
        <a class="active" href="signupForm"><i class="fa-solid fa-pen-to-square"></i>Sign Up</a>
        <a class="active" href="about"><i class="fa-solid fa-file-pen"></i>About</a>
        <a class="active" href="home"><i class="fa-solid fa-house"></i>Home</a>

    </nav>
    <h1>Welcome to vpgajula first website!</h1>

    <main class="login-container">

        <h1>New Users, register here</h1>
        <form class="login-form" action="/api/signup" method="POST">

            <div class="input-wrapper">
                <label for="name">User Name</label>
                <input type="text" name="name" id="name" required placeholder="Enter name"></input>
            </div>

            <div class="input-wrapper">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" required placeholder="Enter email"></input>
            </div>

            <div class="input-wrapper">
                <label for="password">Password:</label>
                <input type="text" name="password" id="password" required placeholder="Enter password"></input>
            </div>

            <div class="input-wrapper">
                <label for="confirmPassword">Confirm Password:</label>
                <input type="text" name="confirmPassword" id="confirmPassword" required
                    placeholder="Enter password"></input>
            </div>

            <div class="buttons">
                <button class="btn" type="submit"><i class="fa-solid fa-pen-to-square"></i>Sign-Up</button>
                <button class="btn" type="reset"><i class="fa-solid fa-arrow-rotate-left"></i>Reset</button>
            </div>
        </form>

        <div>
            <form class="login-form" action="/api/loginForm" method="GET">
                <h2> Already registered, click Login! </h2>
                <button class="btn" type="submit" formaction="/api/loginForm"><i
                        class="fa-solid fa-sign-in"></i>Login</button>
            </form>
        </div>

    </main>

</body>

</html>